@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Zalando Sans', sans-serif;

  background:
    radial-gradient(
      circle at top left,
      #5d1d29e6,
      transparent 25%
    ),
    #000000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bullet-list {
  list-style: none; /* Eliminar los marcadores de lista predeterminados */
  padding-left: 0; /* Eliminar el relleno predeterminado de la lista */
}

.bullet-list li:before {
  content: "▹"; /* Agregar el elemento ▹ antes de cada elemento de la lista */
  margin-right: 0.5rem; /* Ajusta el espacio entre el elemento y el texto */
  color: #9e5267;
}

.contenedor ol {
  counter-reset: item-counter;
}


.contenedor ol li a::before {
  content: counter(item-counter, decimal-leading-zero) ".";
  counter-increment: item-counter;
  margin-right: 0.5rem;
  color: #b03b51e6;
  font-size: 13px;
}

nav {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(188, 187, 187);
}


::-webkit-scrollbar-button {
    height: 8px; /* Altura de las flechas */
    width: 24px; /* Ancho de las flechas */
    display: block;
    background-size: cover;
}

::-webkit-scrollbar-button:vertical:decrement:end {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="6" d="M19 9l-7 7-7-7"/></svg>');
}

::-webkit-scrollbar-button:vertical:increment:start {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="6" d="M5 15l7-7 7 7"/></svg>');
}

